.container {
  background-color: var(--secondary-bg);
  width: calc(100% - 3rem);
  height: 80px;
  border-radius: 6px;
  padding: 1rem;
  position: absolute;
  top: 6rem;
}

.form {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.form > input {
  background-color: var(--secondary-bg);
  color: var(--search);
  width: calc(100% - 7.25rem);
  height: 3rem;
  font: inherit;
  border: none;
  outline: none;
  cursor: pointer;
  caret-color: var(--clr-violet);
}

.form > input::placeholder {
  color: var(--search-ph);
}

/* this code prevents the background color 
from changing when using Chrome autocomplete */

.form input:-webkit-autofill,
.form input:-webkit-autofill:hover,
.form input:-webkit-autofill:focus,
.form input:-webkit-autofill:active {
  /* -webkit-transition-delay: 9999s; */
  /* -webkit-transition: background-color 9999s ease-out; */
  -webkit-box-shadow: 0 0 0 30px var(--secondary-bg) inset !important;
  -webkit-text-fill-color: var(--search) !important;
  /* -webkit-transition: color 9999s ease-out, background-color 9999s ease-out; */
}

/*  */

.filter {
  background-color: transparent;
  border: none;
  margin-inline: 1.5rem;
  cursor: pointer;
}

.filter > img {
  filter: var(--filter);
  vertical-align: bottom;
}

.searchBtn {
  background-color: var(--clr-violet);
  width: 3rem;
  height: 3rem;
  border: none;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.searchBtn img {
  width: 20px;
  filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(0%)
    hue-rotate(143deg) brightness(104%) contrast(102%);
}

.backdrop {
  background-color: #4b4a4a;
  opacity: 0.7;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 4;
  cursor: pointer;
}

.modal {
  background-color: var(--secondary-bg);
  width: 100%;
  border-radius: 6px;
  padding-bottom: 1.5rem;
  position: absolute;
  top: 8rem;
  left: 0;
  z-index: 5;
}

.location {
  width: 100%;
  padding: 1.5rem;
  border-bottom: 1px solid hsla(214, 17%, 51%, 0.2);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1.5rem;
}

.location input {
  background-color: var(--secondary-bg);
  color: var(--search);
  width: 100%;
  height: 1.5rem;
  font: inherit;
  border: none;
  outline: none;
  cursor: pointer;
  caret-color: var(--clr-violet);
}

.location input::placeholder {
  color: var(--search-ph);
}

.middle {
  margin-bottom: 1.5rem;
  margin-left: 1.5rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}

/* checkmark start */

.checkmark {
  display: block;
  position: relative;
  height: 24px;
  width: 24px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid var(--checkbox-unchecked);
  border-radius: 0.3rem;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.checkmark input {
  position: absolute;
  opacity: 0;
  height: 0;
  width: 0;
}

.check {
  position: absolute;
  top: 0;
  left: 0;
  height: 22px;
  width: 22px;
}

.checkmark input ~ .check {
  background-color: var(--checkbox-unchecked);
}

.checkmark input:checked ~ .check {
  background-color: var(--clr-violet);
}

.checkmark input:checked ~ img {
  display: block;
}

.checkmark img {
  display: none;
  /* position: absolute;
  top: calc(50% - 4.5px);
  left: calc(50% - 6px);
  z-index: 1; */
  position: relative;
  z-index: 1;
}

/* checkmark end */

.labelOne {
  color: var(--modal-label);
  font-weight: 700;
  cursor: pointer;
}

.labelTwo {
  color: var(--modal-label);
  font-weight: 700;
  cursor: pointer;
  display: none;
}

.modalBtn {
  background-color: var(--clr-violet);
  color: var(--clr-white);
  width: calc(100% - 3rem);
  height: 3rem;
  font: inherit;
  font-weight: 700;
  border: none;
  border-radius: 5px;
  margin-left: 1.5rem;
  cursor: pointer;
}

@media (hover: hover) {
  .searchBtn:hover {
    background-color: var(--clr-lviolet);
  }
  .modalBtn:hover {
    background-color: var(--clr-lviolet);
  }
}

@media (max-width: 18.75rem) {
  .container {
    width: calc(100% - 2rem);
    top: 143px;
  }
  .filter {
    margin: 0;
  }
  .searchBtn {
    width: calc(100% - 2rem);
    position: absolute;
    bottom: -62px;
  }
  .form > input {
    width: 100%;
  }
  .modal {
    top: 5rem;
  }
  .location {
    padding: 1rem;
  }
  .middle {
    margin-left: 1rem;
  }
  .modalBtn {
    width: calc(100% - 2rem);
    margin-left: 1rem;
  }
}

@media (min-width: 23.5rem) {
  .modal {
    max-width: 328px;
    left: calc(50% - 164px);
  }
}

@media (min-width: 48rem) {
  .container {
    max-width: calc(1110px - 5rem);
    width: calc(100% - 5rem);
    padding: 0 1rem 0 1.5rem;
    top: 7.5rem;
    display: flex;
    align-items: center;
  }
  /* .form {
    justify-content: flex-end;
  } */
  .form > input {
    min-width: 197px;
    width: auto;
    flex-grow: 1;
    padding-right: 1rem;
  }
  .filter {
    display: none;
  }
  .searchBtn {
    display: none;
  }
  .backdrop {
    display: none;
  }
  .modal {
    max-width: fit-content;
    border-radius: 0;
    padding-bottom: 0;
    position: static;
    display: block;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-grow: 1;
  }
  .location {
    min-width: 213px;
    /* min-width: 204px; */
    max-width: 300px;
    height: 5rem;
    padding: 0 1.25rem 0 1.5rem;
    border-bottom: 0;
    border-left: 1px solid hsla(214, 17%, 51%, 0.2);
    border-right: 1px solid hsla(214, 17%, 51%, 0.2);
    margin-bottom: 0;
  }
  .location input {
    height: 3rem;
    flex-grow: 1;
  }
  .middle {
    width: fit-content;
    margin: 0;
    margin-left: 1.25rem;
    margin-right: 1.75rem;
    flex-shrink: 0;
  }
  .labelOne {
    display: none;
  }
  .labelTwo {
    display: block;
  }
  .modalBtn {
    width: 5rem;
    margin-left: 0;
    flex-shrink: 0;
  }
}

@media (min-width: 78rem) {
  .container {
    max-width: 1110px;
    width: 1110px;
    padding: 0 1rem 0 2rem;
    top: 7.625rem;
  }
  .location {
    min-width: 300px;
  }
  .middle {
    margin-left: 2rem;
    margin-right: 1.625rem;
  }
  .labelOne {
    display: block;
  }
  .labelTwo {
    display: none;
  }
  .modalBtn {
    width: 7.6875rem;
  }
}
