.header {
  background-image: url("/assets/mobile/bg-pattern-header.svg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 2rem 1.5rem 4.5rem 1.5rem;
}

.header > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header h1 {
  line-height: 2rem;
  cursor: pointer;
}

.header h1 > img {
  vertical-align: bottom;
}

.theme {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

/* toggle start */

.switch {
  position: relative;
  display: inline-block;
  width: 2.5rem;
  height: 1.4375rem;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.toggle {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 2.125rem;
  background-color: var(--clr-white);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.toggle:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  left: 4px;
  bottom: 4px;
  border-radius: 50%;
  background-color: var(--clr-violet);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .toggle:before {
  -webkit-transform: translateX(17px);
  -ms-transform: translateX(17px);
  transform: translateX(17px);
}

/* toggle end */

@media (hover: hover) {
  .toggle:hover:before {
    background-color: var(--clr-lviolet);
  }
}

@media (max-width: 18.75rem) {
  .header > div {
    flex-direction: column;
    gap: 1.5rem;
  }
}

@media (min-width: 48rem) {
  .header {
    background-image: url("/assets/tablet/bg-pattern-header.svg");
    background-position: bottom;
    padding: 2.625rem 2.5rem 5.375rem 2.5rem;
  }
  .header > div {
    max-width: calc(69.375rem - 5rem);
    margin-inline: auto;
  }
}

@media (min-width: 78rem) {
  .header {
    background-image: url("/assets/desktop/bg-pattern-header.svg");
    background-position: bottom left;
    padding: 2.8125rem 0 5.3125rem 0;
  }
  .header > div {
    max-width: 69.375rem;
  }
}

@media (prefers-color-scheme: dark) {
  .toggle:before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    left: 21px;
    bottom: 4px;
    border-radius: 50%;
    background-color: var(--clr-violet);
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }

  input:checked + .toggle:before {
    -webkit-transform: translateX(-17px);
    -ms-transform: translateX(-17px);
    transform: translateX(-17px);
  }
}
