@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

:root {
  --clr-violet: hsl(27, 22%, 51%);
  --clr-lviolet: hsl(235, 82%, 77%);
  --clr-vdblue: hsl(219, 29%, 14%);
  --clr-midnight: hsl(220, 29%, 10%);
  --clr-white: hsl(0, 0%, 100%);
  --clr-lgrey: hsl(210, 22%, 96%);
  --clr-grey: hsl(212, 23%, 69%);
  --clr-dgrey: hsl(214, 17%, 51%);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Kumbh Sans", sans-serif;
  min-height: 100vh;
}

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
